.container{
  padding: 0 20px;
}

.container_nav{
  padding-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nav_end{
  /* padding: 10px 20px; */
  transition: all 0.3s ease-in-out;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.any_flex{
  display: flex;
  align-items: center;
}

.logoLD{
  margin-right: 10px;
  display: flex;
}

.logoLD .blackLogo{
  /* display: none !important; */
}

.menu{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu div:nth-last-child(1){
  margin-top: -3px;
}

.menu a:hover{
  color: rgb(203, 182, 126);
}

/* .menu p{
  margin-left: 10px;
} */

/* .menu span{
  width: 1px;
  background-color: black;
  margin: 18px 0;
  margin-right: 10px;
} */

.footer{
  background: #42413F;
  color: #fff;
  padding: 50px;

}

.squre{
  width: 400px;
  height: 200px;
  background: #918F8C;
  margin-bottom: 20px;
}

.address{
  text-align: center;
  font-size: 12px;
}

.logo_footer {
  padding: 0 30px;
  text-align: center;
  margin-top: 20px;
}

.footer_ad{
  margin-top: 30px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.address, .map , .input{
  width: 30%;
  overflow: hidden;
}

.input{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: inherit; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

}

.input a{
  border-bottom: 1px solid ;
  width: 100%;
  padding-bottom: 20px;
}

.logo_black{
  /* display: unset; */
}

.logo_white{
  /* display: unset; */
}

.input input{
  border: none;
  background: inherit;
  border-bottom: 1px solid #fff;
  color: white;
  padding: 15px 0;
  margin-left: 80px;
  margin-bottom: 30px;
  outline: 0;
}

@media only screen and (max-width: 1660px){
  .input input{
    margin-left: 0px;
  }
}

.pointer, .pointer span{
  cursor: pointer;
}

.containerContact{
  /* padding: 0 400px; */
  width: 1090px;
  margin: 30px auto;
}

.row_line{
  height: 2px;
  width: 70px;
  background-color: #fff;
  /* margin: 0 auto; */
  rotate: 90deg;
  margin-top: 20px;
}

.contact_us{
  text-align: center;
  background: #E2E1E0;
  padding: 30px 0;
  color: #5B4A1C;
}

.flex_contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.btnContact{
  padding: 13px 40px;
  background: #C1AE7A;
  border: none;
  color: #5B4A1C;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnContact:hover{
  background: rgb(66, 65, 63);
  color: white;
}

.line_brown{
  margin: 0;
  background: #5B4A1C;
  position: absolute;
}

.textCenter{
  text-align: center;
}

.lune{
  position: relative;
  /* top: -12px; */
}

.footer_lg{
  padding: 50px;
}

.footer_lg div {
  padding: 0 20px;
}

.underlune{
  position: absolute;
  left: 10px;
  font-size: 12px;
}

.mg50{
  padding: 50px 0;
}

.create_space{
  margin-top: 200px
}

.pdBottom0{
  padding-bottom: 0;
}

.fix{
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.display_none{
  display: none !important;
}

.logoNav{
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center
}

.enquires{
  padding: 0px 40px;
  height: 50px;
  display: flex;
  align-items: center;
}


.enquires a{
  cursor: pointer;
  margin-bottom: 4px;
}

/* .enquires a:hover{
  color: rgb(203, 182, 126);
} */



.posRalative{
  position: relative;
}

.allLogoLD .logoLD{
  position: absolute;
  width: 100%;
  height: 100%;
}

.allLogoLD{
  width: 30px;
  height: 30px;
  position: relative;
}

.abNavLogo{
  width: 30px;
  height: 30px;
}

.spanUnset span{
  /* position: unset !important; */
  width: 25px !important;
  height: 25px !important;
  /* margin-top: 4px !important; */
}

.spanUnsetY span{
  width: 36px !important;
  height: 25px !important;
  /* margin-top: 4px !important; */
}

.navHeight{
  height: 50px
}

.logoNav div{
  padding: 0 10px;
}

.borderRightNav{
  position: relative;
    padding-right: 40px;
}

.borderRightNav span{
  position: absolute;
  width: 2px;
  height: 15px;
  top: 1px;
  background: white;
  right: 20px;
}


@media only screen and (max-width: 1200px){
  .footer{
    padding: 30px;
  }

  .input a{
    font-size: 12px;
  }
}

@media only screen and (max-width: 992px){
  .container{
    padding-left: 20px;
  }

  .container_nav{
    padding-left: 20px;
  }

  .logoNav{
    padding: 0 10px;
  }

  .borderRightNav{
    padding-right: 20px;
  }

  .borderRightNav span{
    right: 10px;
  }

  .enquires{
    padding: 0 20px;
  }

  .containerContact{
    width: unset;
  }

  .footer_lg{
    padding: 50px 0;
  }

  .input{
    flex-direction: column;
  }

  .input input{
    margin-bottom: 15px;
  }

  .footer_lg div{
    padding: 0 10px;
  }

  .social{
    margin-top: 20px;
  }

  .input input{
    padding: 10px 0;
    font-size: 11px;
  }

  .input{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

}

.under_navbar_responsive{
  display: none;
}

.bg_menu_nav_responsive{
  display: none;
}

@media only screen and (max-width: 600px){

  .container_nav{
    display: none;
  }

  .under_navbar_responsive{
    display: block;
  }
  
  .container_nav_responsive{
    width: 50px;
    height: 50px;
    /* background: teal; */
    cursor: pointer;
  }
  
  .box_nav_responsive{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line_in_nav_responsive{
    width: 60%;
    height: 2px;
    background: #42413F;
    position: relative;
  }
  
  .line_in_nav_responsive::after,.line_in_nav_responsive::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #42413F;
    position: absolute;
  }
  
  .line_in_nav_responsive::after{
    top: -8px
  }
  
  .line_in_nav_responsive::before{
    top: 8px;
  }
  
  .under_navbar_responsive{
    position: fixed;
  z-index: 2;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  top: 50px;
  transition: all 0.5s ease-in-out;
  background: #42413F;
  max-height: 0;
  overflow: hidden;
  /* max-height: 0; */
  }
  
  
  
  
  
  .under_navbar_responsive .menu{
    display: unset;
    margin: 0;
    text-align: center;
  }
  
  .under_navbar_responsive .menu .borderRightNav{
    padding: 20px 0;
    border-bottom: 1px solid grey;
    width: 50vw;
    margin: 0 auto;
    color: white;
  }
  
  .under_navbar_responsive .menu .borderRightNav:nth-last-child(1){
    border: none;
  }

  .flex_contact{
    display: block;
  }

  .flex_contact .flex{
    justify-content: center;
  }

  .line_brown{
    display: none;
  }

  .btnContact{
    margin-top: 30px;
  }

  .footer_lg{
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }

  .footer_lg div{
    width: 33.33%;
    padding: 20px;
  }

  .footer .flex{
    display: block;
  }

  .address, .map, .input{
    width: 100%;
  }

  .footer .social{
    margin-bottom: 20px;
  }

  .map{
    display: flex;
    flex-direction: column-reverse;
  }

  .map span{
    width: 50px !important;
    left: 50% !important; 
    transform: translateX(-50%);
  }

  .input{
    grid-template-columns: repeat(2, 1fr);
  }

  .bg_menu_nav_responsive{
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo_nav_responsive{
    display: flex;
    align-items: center;
  }

  .enquires_responsive{
    background: rgb(203, 182, 126);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .span_between_logo{width: 2px;
    height: 70%;
    background: #E2E1E0;
    margin-right: 10px;}

}

.bg_menu_nav_responsive{
  background: white;
}

.dropdownLine{
  width: 2px;
  height: 20px;
  background: teal;
}