.container{
  /* padding: 0 400px; */
  /* padding: 0 200px; */
  width: 1280px;
  margin: 0 auto;
}

.create_space{
  margin-top: 100px
}

.containerMain{
  padding: 0 200px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.bg{
  position: relative;
  /* width: auto !important; */
  overflow: hidden;
}

.blur {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.bg_main {
  z-index: 1;
}

.content_main{
  text-align: center;
}

.row_line{
  height: 50px;
  width: 2px;
  background-color: #fff;
  margin: 0 auto;
  /* rotate: 90deg; */
  /* margin-top: 20px; */
  margin: 30px auto;
}

.row_line_gallery{
  height: 2px;
  width: 50px;
  background-color: black;
  margin: 0 auto;
  rotate: 90deg;
  margin-top: 40px;
}

.adj{
  font-size : 40px;
  /* padding-bottom: 50px; */
}

.scroll{
  /* padding-top: 50px; */
}

.flex{
  display: flex;
  align-items: center;
}

.rightFlex{
  padding-left: 50px;
}

.leftFlex{
  margin-right: 20px;
}

.fontGold{
  color: #A87D07
}

.mg{
  margin: 30px 0;
}

.mg50{
  margin: 50px 0;
}

.textCenter{
  text-align: center;
}

.textRight{
  text-align: right;
}

.wd100{
  width: 100%;
}

.wd50{
  width: 50%;
}

.mgTop20{
  margin-top: 20px;
}



.borderPic{
  height: 300px;
  overflow: hidden;
}

.hover{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 40px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  opacity: 0;
  color: #fff;
  line-height: 1.6;
  transition: all ease-in-out 0.6s;
}

.hover h1 {
  font-size: 20px;
}

.hover:hover{
  opacity: 1;
  /* transform: translateY(10px);
  transition: all 0.6s ease-in-out ; */
}

.hover div{
  transition: all ease-out 0.6s;
}

.hover:hover div {
  transform: translateY(-20px);
}

.discoverRightImg .hover:hover div{
  transform: translateY(-1vh);
}

.bgImg{
  position: relative;
}

.bgImg span{
  position: unset !important;
}

.spanUnset span{
  position: unset !important;
}

.btn_in_hover{
  background: inherit;
  border: 1px solid white;
    padding: 10px 40px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn_in_hover:hover {
  background: rgb(203, 182, 126);
  color: rgb(66, 65, 63);
  border-color: rgb(203, 182, 126);
  /* padding: 11px 40px; */
}

.bgImg img{
  transition: 0.7s ease-in-out;
}

.bgImg:hover img{
  transform: scale(1.05);
}

.posrelative{
  position: relative;
}

.absoluteBox{
  border: 1px solid;
  background: #EAE6E3;
  padding: 40px 150px 50px 30px;
  height : 360px;
  position: absolute;
  top: 30px;
  width: 47%;
  left: 0;
  z-index: 1;
}

.absoluteRoomBox{
  border: 1px solid;
  background: #EAE6E3;
  padding: 40px 50px;
  height: 360px;
  position: absolute;
  top: 30px;
  width: 47%;
  left: 0;
  z-index: 1;
}

.absoluteRoomBox p{
  margin: 30px 0 40px;
  text-align: justify;
  line-height: 1.5
}

.absoluteBox .fontGold{
  font-size: 28px;
}

.absoluteBox p{
  margin: 30px 0 60px;
  text-align: justify;
  line-height: 1.5;
}

.btn_absolute{
  background: #CBB67E;
  padding: 13px 50px;
  font-weight: bold;
  cursor: pointer;
  border-style: none;
  transition: all 0.2s ease-in-out;
}

.btn_absolute:hover{
  background: rgb(66, 65, 63);
  color: white;
}

.unAlige{
  align-items: unset;
}

.facility{
  background: #E5E4E3;
  width: 300px;
  margin: 0 10px;
}

.pdBottom{
  padding-bottom: 50px;
}

.justifyCenter{
  justify-content: center;
}

.fontInPic{
  position: absolute;
  bottom: 15px;
  color: white;
  left: 15px;
}

.mini_pic{
  /* height: 150px; */
  overflow: hidden;
}

.mini_pic span{
  height: inherit !important;
}

.titleInMinipic{
  padding: 30px 0 90px;
}

.titleInMinipic .fontGold{
  font-size: 20px;
  padding-bottom: 30px;
}

.flexend{
  display: flex;
  /* align-items:flex-end; */
  justify-content: space-between;
}



.justifyEnd{
  justify-content: flex-end;
}

.inheritImg span{
  height: inherit !important;
}


.absolutePic{
  width: 58.2%;
  height: 420px;
}

.absoluteRoomPic{
  width: 58.2%;
  height: 420px;
}

.right{
  right: 0;
  left: unset;
}

.picServices{
  /* height: 300px; */
  width: 100%;
}

.underPicServices{
  width: 74%;
  /* height: 300px; */
}

.leftFlexService{
  width: 39%;
  padding-top: 30px;
  text-align: justify;
  line-height: 1.5;
}

.leftFlexService .underPicServices{
  width: 100%;
}

.rightFlexService{
  width: 61%;
}

.rightFlexService .mgT{
  padding-top: 50px;
}

/* .imgScale{
  height: 500px;
  width: 600px;
  overflow: hidden;
  position: relative;
} */

.imgScale:hover .height100{
  height: 65%;
  /* height: 200px; */
}

.height100{
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.height100 img{
  object-fit: cover;
}

.imgScale:hover .heightImgHoverOverlay{
  height: 65%;
  /* height: 200px; */
}

.heightImgHoverOverlay{
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.heightImgHoverOverlay img{
  object-fit: cover;
}

.imgScale:hover .fontInPic{
  visibility: hidden;
}

.pdInSlidePic{
  padding: 20px 2.5vw;
  position: absolute;
  top: 40%;
  text-align: justify;
}

.pdInSlidePic h1{
  font-size: 25px;
  text-align: justify;
  line-height: 1.5;
}

.pdInSlidePic p{
  margin-top: 15px;
  text-align: justify;
  line-height: 1.5;
}

.z100{
  z-index: 100;
}

.flex_service{
  display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.mgTop50{
  margin-bottom: 50px;
}

.btnUnderSlidePic{
  position: absolute;
  right: 2.5vw;
  bottom: 0;
}

.btnUnderSlidePic button{
  cursor: pointer;
}

.bg_coconut{
  background: url("../images/bg-coconut.jpg") no-repeat; 
  background-size: 100% 100%;
  padding-top: 30px; 
  padding-bottom: 30px;
}

.bg_coconut .flex{
  align-items: unset;
}


.bg_coconut_careers{
  background: url("../images/bg-coconut.jpg") no-repeat; 
  background-size: 100% 100%;
}

.discoverLeft{
  height: 500px;
  width: 60% ;
  margin-right: 20px;
}

.discoverRight{
  width: 40%;
}

.discoverRightImg{
  height: 240px;
}


.discoverRightTop{
  margin-top: 20px;
}

.monoFont{
  
  font-family: monospace;
  font-size: 22px;

}

#video{
  display: none;
}

.luxury{
  height: 700px
}

.fontInLux{
  padding-right: 3vw;
}

.fontInLux .mg{
  text-align: justify;
}

.leftFlexLux{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftFlexService .mg{
  margin: 30px 0 40px;
}

.leftFlexService .pd{
  padding-right: 60px;
}

@media only screen and (max-width: 1600px) {
  .heightImgHoverOverlay{
    height: 500px
  }
}

@media only screen and (max-width: 1200px) {
  .container{
    width: 980px;
  }

  .containerMain{
    padding: 0;
  }

  .adj{
    font-size: 35px;
  }

  .fontGold{
    font-size: 30px;
  }

  .luxury{
    height: 600px;
  }

  .absoluteBox{
    padding: 20px 80px 30px 30px;
    height: 320px
  }

  .absoluteBox p{
    margin: 30px 0 50px;
  }

  .absoluteBox .fontGold{
    font-size: 25px;
  }

  .absolutePic{
    height: 380px
  }

  .bg_coconut .fontGold{
    font-size: 18px;
  }

  .leftFlexService .mg{
    margin: 20px 0 30px;
    font-size: 15px;
  }

  .underPicServices{
    width: 78%;
  }

  .rightFlexService{
    padding-left: 40px;
  }

  .rightFlexService .mgT{
    padding-top: 40px;
  }

  .picServices{
    height: 300px;
  }

  .leftFlexService .pd{
    padding-right: 30px;
  }
}

@media only screen and (max-width: 992px){
  .container{
    width: 750px;
  }

  .bgImg{
    height: 500px;
  }

  .luxury{
    height: 500px;
  }

  .fontGold{
    font-size: 22px;
  }

  .discoverLeft{
    height: 450px;
  }

  .discoverRightImg{
    height: 215px;
  }

  .hover h1{
    font-size: 15px;
  }

  .hover p{
    font-size: 13px;
  }

  .btn_in_hover{
    padding: 8px 20px;
    font-size: 10px;
  }

  .discoverRight .hover{
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .discoverRight .hover div{
    margin-top: 50px;
    text-align: center;
  }

  .logo_in_bg span{
    max-width: 75px !important;
  }

  .logo_in_bg p{
    font-size: 13px
  }

  .adj{
    font-size: 30px;
  }

  .absolutePic{
    width: 56%;
    height: 350px;
  }

  .absoluteBox{
    height: 290px;
    padding: 20px 50px 30px 30px;
    width: 60%
  }

  .absoluteRoomPic{
    width: 67%;
    height: 360px;
  }

  .absoluteRoomBox{
    padding: 20px 30px;
    height: 300px;
    width: 52%;
  }

  .absoluteRoomBox p{
    margin: 15px 0 25px;
    font-size: 14px;
  }

  .leftFlexService .mg{
    font-size: 13px;
  }

  .bg_coconut .fontGold{
    font-size: 15px;
  }

  .rightFlexService{
    padding-left: 25px;
  }

  .rightFlexService .mgT{
    padding-top: 25px;
  }


  .flex_service{
    grid-template-columns: repeat(2,1fr);
  }

}

